html {
    height: 100%;
    width: 400px;
    font-family: Helvetica, Helvetica, sans-serif;
}

h1, h2, h5 {
    text-align: center;
}

input[type="button"] {
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    background-color: blue;
    border-radius: 8px;
    padding: 5px;
    }

form {
    margin: auto;
    text-align: center;
}


.nucleotide, .protein {
    font-family: "Courier New", Courier, monospace;
}


.results {
    width: 350px;
    margin: auto;
    word-wrap: break-word;
    color: blue;
}

.result-header {
    font-family: Helvetica, Helvetica, sans-serif;
    color: black;
}
