.settings {
    display: none;
    flex-direction: row;
    align-content: center;
    /* transform: translateX(-75%); */
    transition: transform 1s;
}

.settings-open.settings {
    /* transform: none; */
    display: flex;
}

input {
    padding: 5px;
    font-size: 12px;
    width: 150px;
    height: 20px;
}

button {
    height: 30px;
    width: 70px;
    background: none;
    /* This removes the default background */
    color: #313131;
    border: 1px solid #313131;
    border-radius: 50px;
    /* This gives our button rounded edges */
    font-size: 12px;
    cursor: pointer;
}

form {
    padding-top: 20px;
}

.greeting-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.greeting {
    font-family: sans-serif;
    font-size: 60px;
}


html {
    height: 100%;
}

.nucleotide {
    font-family: "Courier New", Courier, monospace;
    width: 400px
}
